.login-form {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 2px solid red; */
}

.login-details {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 5% 17%;
  gap: 1rem;
}

.login-details h2 {
  /* border: 2px solid green; */
  margin-top: -25px;
  margin-left: -120px;
}

.login-details span {
  margin-left: -50px;
}

.login-details input {
  border: 0.8px solid black;
  width: 150%;
  padding: 3px;
  margin-left: -50px;
}

.sign-in-button {
  border: 0.7px solid black;
  width: 156%;
  /* margin-right: 3px; */
  margin-left: -50px;
  margin-top: 15px;
  padding: 7% 3%;
  background-color: black;
  color: white;
}
